<meta http-equiv="Content-Style-Type" content="text/css">
<style type="text/css">
<!--
.r3footer {
	position:			relative;
	overflow:			hidden;
	clear:				both;
	margin:				24px;
}
.r3footer ul {
	position:			relative;
	left:				50%;
	float:				left;
	list-style-type:	none;
	margin:				0px;
    padding:			0px;
}
.r3footer li {
	position:			relative;
	float:				left;
	left:				-50%;
	padding-right:		50px;
	padding-left:		50px;
}
--> 
</style>
<div class="r3footer">
<ul>
<li>Copyright(C) <%= copyyear %> Yahoo Japan Corporation.</li>
</ul>
</div>
